<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="globalPackagesFolder" value=".\packages" />
		<add key="DefaultPushSource" value="https://tfs.helsedirektoratet.no/tfs/Helsedirektoratet/_packaging/HapiNuGetFeed/nuget/v3/index.json" />
	</config>
	
	<packageRestore>
        <!-- Allow NuGet to download missing packages -->
        <add key="enabled" value="True" />

        <!-- Automatically check for missing packages during build in Visual Studio -->
        <add key="automatic" value="True" />
    </packageRestore>
	
	<packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="HapiNuGetFeed" value="https://tfs.helsedirektoratet.no/tfs/Helsedirektoratet/_packaging/HapiNuGetFeed/nuget/v3/index.json" />
    </packageSources>
	
	<apikeys>
        <add key="https://tfs.helsedirektoratet.no/tfs/Helsedirektoratet/_packaging/HapiNuGetFeed/nuget/v3/index.json" value="VSTS" />
    </apikeys>	
</configuration>